<div class="menuDesplegable">
  <div class="optionsSection">
    <h2>Bienvenido/a, <%= userActivo.mail %> </h2>
    <ul>
      <ul>
        <li><a href="/mainPage">Mi Perfil</a></li>
        <li><a href="/mainPage">+ Añadir Pelicula</a></li>
        <li><a href="/mainPage">Mi lista de deseados</a></li>
      </ul>

    </ul>
  </div>
  <div class="utilitySection">
    <a href="/contacto">
      <ul class="contactLink">
        <li><img src="/images/Iconos/contacto.png" width="8%">Contactar con Nosotros</li>
      </ul>
    </a>
    <a href="/terminateSession">
      <ul class="closeSession">
        <li><img src="/images/Iconos/cerrarSesion.png" width="8%">Cerrar Sesión</li>
      </ul>
    </a>
  </div>
</div>

<div class="cortina"></div>