<ul>
    <li><a href="#">Sobre Nosotros</a></li>
    <li><a href="#">Apps</a></li>
    <li><a href="/contacto">Ayuda</a></li>
    <li><a href="#">Trabaja con nosotros</a></li>
  </ul>
  <p>Pagina creada por Jose Manuel Prados Morente</p>
  <ul>
    <li>
      <a href="#"><img src="/images/Iconos/x.png" alt="Icono X" /></a>
    </li>
    <li>
      <a href="#"
        ><img src="/images/Iconos/facebook.png" alt="Facebook"
      /></a>
    </li>
    <li>
      <a href="#"><img src="/images/Iconos/tik-tok.png" alt="TikTok" /></a>
    </li>
    <li>
      <a href="#"
        ><img src="/images/Iconos/instagram.png" alt="Instagram"
      /></a>
    </li>
  </ul>