<div class="headerLeft">
<a href="/mainPage"><h1>Binge<span style="color: #6fa8dc">Watch</span></h1></a>
<form action="">
  <input type="text" placeholder="Buscar..." name="busqueda">
  <button type="submit"><img src="../images/iconos/loupe.png" width="2%" height="2%"></button>
</form>
<a href="" class="addMovie">+ Añadir Pelicula</a>
</div>
<div class="headerRight">
  <h2><%= userActivo.mail %></h2>
  <img src="<%= userActivo.pfp %>" id="imagenUsuario" alt="<%= userActivo.mail %>">
</div>