<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>

  <body class="loginBODY">
    <div class="contentLOGIN">
      <header>
        <a href="/"><img src="images/recursos/bx-arrow-to-left.svg" alt="returnArrow"></a>
        <a href="/"><p>Volver a Inicio</p></a>
      </header>
  
      <main>

        <div class="presentation">
        <img src="images/logo bw-blanco.png" width="40%">
        <h2>Binge<span style="color: #6fa8dc">Watch</span></h2>
        <p>Un lugar, todas tus peliculas</p>
        </div>

        <div class="mainContent">
        <form method="post">
          <label for="username">Usuario</label>
          <hr>
          <input type="text" id="username" name="username" placeholder="...">
          <p class="sutil">¿Ha olvidado su usuario?</p>

          <label for="password">Contraseña</label><br>
          <hr>
          <input type="text" id="password" name="password" placeholder="...">
          <p class="sutil">¿Ha olvidado su contraseña?</p>

          <p class="keep"><input type="checkbox" id="keep"><label for="keep" class="keepLabel">Mantener sesión abierta</label></p>
          <input type="submit" value="Iniciar Sesion">
          
        </form>
        <p style="color:white">O inicie sesión de otra forma</p>
        <a><button class="altLogin"><img src="images/Iconos/google.png" width="8%"> Sesión con Google</button></a>
        <a><button class="altLogin"><img src="images/Iconos/apple.png" width="8%">Iniciar Sesión con Apple</button></a>
      </div>
      <figure><a href="/contacto"><img src="images/recursos/bxs-help-circle.svg" alt="contactPage" width="30" height="30" class="helpButton"></a></figure>
      </main>
    </div>

  </body>
</html>
