@import url(vars.css);
@import url(homeStyle.css);
@import url(loginStyle.css);

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font: 14px var(--main-font);
  height: 100vh;
}

.contacto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #232323;
  color: white;
  height: 10%;

  .return{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1vw;

    p{
      font-size: 2vw;
      gap:0.5vw;
      font-weight: 600;
    }

    a{
      font-size: 1vw;
      margin-left: 3vw;
    }

    a:hover{
      color: whitesmoke;
    }
  }
}

.mainContacto{
  height: 100vh;
  background-color:  #525252;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  h1{
    color: white;
    font-size: 2rem;
  }

  .contentAyuda {
    display: flex;
    width: 100vw;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50%;
  }

  #columnleft h3{
    height: 5vh;
    width: 100%;
    background: rgb(60,60,60);
    background: linear-gradient(110deg, rgba(60,60,60,1) 0%, rgba(82,82,82,1) 100%);
  }

  #columnright{
    height: 5vh;
    width: 100%;
    background: rgb(60,60,60);
background: linear-gradient(262deg, rgba(60,60,60,1) 0%, rgba(82,82,82,1) 100%);
  }

  h3{
    color: white;
    font-size: 1.5rem;
  }
} 




  


