@import url(vars.css);
@import url(homeStyle.css);

html{
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

.containerLOGIN{
  min-height: 100vh;
  background-color: #353535;
  color: white;
  padding-left: 2rem;

  .returnHome{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    }
  }

  .loginContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 40%;
    justify-content: center;
    background-color: #464646;
    border: 2px solid white;
  }

.helpButton{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}


footer {
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 100%;
  background-color: #FFE599;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #b4a167;

  p {
    font-family: var(--main-font);
    font-size: 0.7rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

    a {
      color: #000;
      text-decoration: none;
      font-weight: 700;
    }

    a:hover {
      color: #353535;
    }

    li {
      height: inherit;
      margin: 0 10px;
    }

    img {
      height: 30px;
      width: 30px;
    }
  }
}